@model MVCClient.Models.BookingFullM

@{
    ViewData["Title"] = "Book";
}

<h1>Book</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Book">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">First name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Last name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Flight number</label>
                <p>@Model.FlightNo</p>
            </div>
            <div class="form-group">
                <label>Departure</label>
                <p>@Model.Departure</p>
            </div>
            <div class="form-group">
                <label>Destination</label>
                <p>@Model.Destination</p>
            </div>
            <div class="form-group">
                <label>Date</label>
                <p>@Model.Date</p>
            </div>
            <div class="form-group">
                <label>Price</label>
                <p>@Model.CurrentPrice</p>
            </div>
            <input asp-for="FlightNo" type="hidden" />
            <input asp-for="Departure" type="hidden" />
            <input asp-for="Destination" type="hidden" />
            <input asp-for="Date" type="hidden" />
            <input asp-for="CurrentPrice" type="hidden" />
            <div class="form-group">
                <input type="submit" value="Book" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to flights</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
