@model IEnumerable<MVCClient.Models.FlightM>

@{
    ViewData["Title"] = "Flights";
}

<h3>Upcoming flights</h3>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th>
                Flight number
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightNo)
            </td>
            <td>
                @item.Date.ToString("d")
            </td>
            <td>
                @{
                   string price = "CHF" + item.CurrentPrice;
                }
                @Html.ActionLink(price, "Book", new {id=item.FlightNo})

            </td>
           
        </tr>
}
    </tbody>
</table>
