@model MVCClient.Models.DestinationStatFull

@{
    ViewData["Title"] = "DestinationStat";
}

<h1>@Model.DestinationBookingDetails.First().Destination statistics</h1>

<h5>
    Average price paid for @Model.DestinationBookingDetails.First().Destination: CHF @Model.AverageSalePrice
</h5>

<table class="table">
    <thead>
    <tr>
        <th>
            Passenger
        </th>
        <th>
            Flight number
        </th>
        <th>
            Paid price
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.DestinationBookingDetails) {
        <tr>
            <td>
                @{
                    string fullName = item.Passenger.FirstName + " " + item.Passenger.LastName;
                }
                @fullName
            
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidPrice)
            </td>
            <td>
           
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="Search">Back to search</a>
